@import '../../styles/variables.scss';
.jobs {
  $space: 2rem;
  padding-bottom: $space;
  .main-title {
    font-size: $space;
    padding-left: 20%;
    color: $dark;
    &:first-letter {
      color: $tint-pri;
    }
    &:after {
      content: ' ◈◈◈◈';
      border-left: $stylish-border;
      font-size: $smaller;
    }
  }
  .list-wrapper {
    width: 70vw;
    margin: $space auto;
    @media (max-width: 720px) {
      width: 100%;
    }
  }
  .query-header {
    text-align: center;
  }
  .results {
    text-align: center;
    font-size: $smaller;
  }
}
.spinner {
  $size: 3rem;
  width: $size;
  height: $size;
  margin: $size auto calc(2 * #{$size});
  background-color: $tint-pri;
  animation: scaleout 1.0s infinite ease-in-out;
}
@keyframes scaleout {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
