@import './variables.scss';
body {
  margin: 0;
  padding: 1%;
  color: $color;
  background-color: $blank;
  h1, h2, h3, h4 {
    color: $h-color;
  }
  a {
    color: $shade;
    &:visited {
      color: $tint-pri;
    }
  }
}
