$color: #373737;
$h-color: #232323;
$badge-color: #666;

$tint-pri: #d88dd1;
$tint-sec: #e6b2e0;
$tint-ter: #f3d8f0;
$shade: #6943bc;
$blank: #eee;
$dark: #235;

$bigger: 1.2em;
$smaller: 0.8em;

$stylish-border: 4px solid $tint-pri;
