@import '../../styles/variables.scss';
.job-details {
  cursor: auto;
  $header-margin: 0.25em;
  $inner-space: 0.5em;
  $outer-space: 1em;
  padding: 1rem;
  .badge {
    font-size: $smaller;
    color: $badge-color;
  }
  & > h1 {
    margin-top: $header-margin;
    border-bottom: $stylish-border;
    background-color: $tint-ter;
    padding: $inner-space;
  }
  aside {
    width: 30vw;
    float: right;
    text-align: right;
    background-color: $tint-ter;
    margin: 0 0 $outer-space $outer-space;
    padding: $inner-space;
    border: $stylish-border;
    border-top: none;
    border-right: none;
    & > * {
      max-width: 99%;
      word-wrap: break-word;
    }
    img {
      max-width: inherit;
    }
  }
  .description {
    h1, h2, h3, h4 {
      margin-left: calc(4 * #{$header-margin});
    }
    p::first-letter {
      text-transform: capitalize;
      font-size: $bigger;
    }
    ul {
      list-style: square;
      padding-left: 1em;
    }
  }
}
