@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.clearfix:after {
  @include clearfix();
}
.item {
  padding: 0.5em 1em;
  margin: 0.25em;
  border-left: $stylish-border;
  cursor: pointer;
  &:nth-of-type(even) {
    background-color: rgba($tint-sec, 0.4);
  }
  &:nth-of-type(odd) {
    background-color: rgba($tint-ter, 0.4);
  }
  &:hover {
    background-color: $tint-sec;
  }

  .badge {
    font-size: $smaller;
    color: $badge-color;
  }

  $primary-space: 70%;
  .clearfix {
    vertical-align: baseline;
    &:not(:first-child) {
      margin-top: 0.25em;
    }
  }
  .primary {
    float: left;
    width: $primary-space;
    &.title {
      font-size: $bigger;
      color: $h-color;
    }
  }

  .secondary {
    float: right;
    text-align: right;
    word-break: break-all;
    width: calc(100% - #{$primary-space});
  }
}
