.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  margin: 1rem 0;
  .title {
    grid-column: span 2 / auto;
    justify-self: center;
  }
  .pull-end {
    justify-self: end;
  }
}
