@import '../../styles/variables.scss';
.button-link {
  font-size: $bigger;
  color: $shade;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  &:hover, &:focus {
    text-decoration: none;
  }
}
