@import '../../styles/variables.scss';
$modal-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
.modal-overlay {
  position: absolute;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100500;
  overflow: hidden auto;
  animation: show 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  @keyframes show {
    from { display: none; opacity: 0; }
    1% { display: flex; opacity: 0; }
    to { opacity: 1; }
  }
  .modal {
    width: 100%;
    background-color: $blank;
    box-shadow: $modal-box-shadow;
    @media (min-width: 720px) {
      width: 70vw;
    }
    .close-modal {
      $size: 2.5rem;
      width: $size;
      height: $size;
      font-size: $size;
      box-shadow: $modal-box-shadow;
      position: absolute;
      top: 0;
      right: 0;
      color: $dark;
      background-color: $blank;
      padding: 0;
      border: 0;
      cursor: pointer;
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
    }
    .modal-content {
    }
  }
}
